
<form #formData="ngForm" (submit) = "onSubmit(formData)">
    <label for="user">Enter your username</label>
    <input type=text id="user" name="user" ngModel>
    <br>
    <label for="curr">Enter current password</label>
    <input type="password" id="curr" name="curr" ngModel>
    <br>
    <label for="new">Enter new password</label>
    <input type="password" id="new" name="new" ngModel>
    <br>
    <label for="confirm">confirm your password</label>
    <input type="password" id="confirm" name="confirm" ngModel>

    <button type="submit" >Submit</button>
</form>