 <mat-toolbar color="primary">
    <mat-toolbar-row>
      <img src="../../../../../assets/images/fotor-1688892654807.png" alt="Loading..." id="img">
      <div class="title">Visitor Ledger</div>
      <!-- <span class="spacer"></span> -->
      <div class="home">
        <a id="anc" routerLink="/">Home</a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <!--<a mat-button routerLink="/admin">Admin</a>
  <a mat-button routerLink="/register">Visitor</a> -->
  <router-outlet></router-outlet> 
  