<!-- <app-navbar></app-navbar>
<router-outlet></router-outlet> -->

                <!-- <mat-toolbar color="primary">
                    <mat-toolbar-row>
                    <span>Visitor Ledger</span>
                    <span class="spacer"></span>
                    <a mat-button routerLink="/">Home</a>
                    </mat-toolbar-row>  
                </mat-toolbar> -->
  <!-- <app-navbar></app-navbar> -->
  <!-- <a mat-button routerLink="/admin">Admin</a>
  <a mat-button routerLink="/register">Visitor</a> -->

  <!-- <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
      <div>
        <mat-icon>person</mat-icon>
      </div>
      <div>
        <a mat-button routerLink="/admin">Admin</a>
      </div>
    </mat-grid-tile>
    <mat-grid-tile><a mat-button routerLink="/register">Visitor</a></mat-grid-tile>
  </mat-grid-list> -->

  <div class="home">
    <mat-card class="card">
      <mat-icon class="icon">account_circle</mat-icon>
      <div class="btn">
        <a id="anc" mat-button routerLink="/admin">Admin</a>
      </div>
    </mat-card>
  
    <mat-card class="card">
      <mat-icon class="icon">assignment_ind</mat-icon>
      <div class="btn">
        <a id="anc" mat-button routerLink="/visitor">Visitor</a>
      </div>
    </mat-card>

  </div>

  <app-footer></app-footer>

  
  <!-- <router-outlet></router-outlet> -->
