
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
}

table {
    border: 5px solid black;
}
table th{
    border : 2px solid black;
}
table tr{
    border : 2px solid black;
}

table td{
    border : 2px solid black;
}